In [1]:
import numpy as np
import pandas as pd
import json

from distance import haversin, haversin_polyline

In [2]:
with open('./street_data/SF_Street Intersections.geojson') as fp:
     strt_intersect = json.load(fp)

In [3]:
strt_intersect['features'][2]

{u'geometry': {u'coordinates': [-122.5109259470119, 37.77043567583329],
  u'type': u'Point'},
 u'properties': {u'cnn': u'27966000',
  u'cnntext': u'27966000',
  u'st_name': u'JOHN F KENNEDY',
  u'st_type': u'DR'},
 u'type': u'Feature'}

In [4]:
strt_intersect['features'][3]['properties']['st_name']

u'SAN JOSE'

In [5]:
strt_int = {}

In [6]:
for intersection in strt_intersect['features']:
    strt_int[intersection['properties']['cnn']] = intersection['geometry']['coordinates']

In [7]:
len(strt_int)

9645

In [8]:
strt_name = {}

In [9]:
for intersection in strt_intersect['features']:
    streets = strt_name.setdefault(intersection['properties']['cnn'], [])
    streets.append(intersection['properties']['st_name'])

In [10]:
len(strt_name)

9645

In [11]:
street_info = pd.DataFrame(strt_int.items(), columns=['cnn', 'coords'])

In [12]:
street_info.head(2)

        cnn                           coords
0  27380000  [-122.481702108, 37.7521400039]
1  22138000  [-122.442010215, 37.7299109493]

In [13]:
street_info['streets_at_intersection'] = street_info['cnn'].map(strt_name)

In [14]:
street_info.head(5)

        cnn                           coords       streets_at_intersection
0  27380000  [-122.481702108, 37.7521400039]                [24TH, ORTEGA]
1  22138000  [-122.442010215, 37.7299109493]                [CONGO, FLOOD]
2  20758000  [-122.399685488, 37.7399019739]  [SELBY, INDUSTRIAL, OAKDALE]
3  27459000   [-122.47968537, 37.7677621052]     [MIDDLE WEST, TRANSVERSE]
4  51958000  [-122.370730314, 37.7093018209]           [TEVIS, FITZGERALD]

In [15]:
street_info['streets_at_intersection']

0                           [24TH, ORTEGA]
1                           [CONGO, FLOOD]
2             [SELBY, INDUSTRIAL, OAKDALE]
3                [MIDDLE WEST, TRANSVERSE]
4                      [TEVIS, FITZGERALD]
5                          [NORIEGA, 44TH]
6                        [MISSION, PERSIA]
7                             [25TH, YORK]
8                        [COTTER, MISSION]
9                                 [DONNER]
10                             [NOE, 23RD]
11                                 [VERNA]
12                        [SCOTT, LOMBARD]
13                           [GEARY, 06TH]
14                     [SILLIMAN, BOWDOIN]
15                          [OAK, WEBSTER]
16                                [POPLAR]
17                               [ORIZABA]
18                         [05TH, KIRKHAM]
19                       [26TH, TENNESSEE]
20                         [JERROLD, EARL]
21                    [CLEMENTINA, KAPLAN]
22                     [LINDSAY, LA SALLE]
23                        [SUTTER, MARKET]
24                [OAKDALE, HOLLADAY, JOY]
25                              [CASTILLO]
26                       [DONNER, INGALLS]
27                          [ZOO, SKYLINE]
28                     [HOLLOWAY, MIRAMAR]
29                         [SELBY, REVERE]
                       ...
9615       [UNNAMED 075, FISHER, INFANTRY]
9616                         [SFGH ACCESS]
9617                             [MELROSE]
9618                             [FLORIDA]
9619                  [VICTORIA, PALMETTO]
9620                    [BRODERICK, BEACH]
9621              [KITTREDGE, GOLDEN GATE]
9622                     [PACIFIC, PELTON]
9623                   [CLINTON, VALENCIA]
9624                     [07TH, CLEVELAND]
9625                         [EDDY, GOUGH]
9626                        [CHABOT, TURK]
9627                     [SENECA, BANNOCK]
9628                      [25TH, QUINTARA]
9629                    [CLARION, MISSION]
9630                    [PHOENIX, PACIFIC]
9631              [JUNIPERO SERRA, DARIEN]
9632                    [PINE, DIVISADERO]
9633                    [MCKINNON, RANKIN]
9634                          [YORK, 23RD]
9635                      [KEITH, QUESADA]
9636                      [GIRARD, GORGAS]
9637                      [STILL, ROTTECK]
9638    [CANDLESTICK COVE, EXECUTIVE PARK]
9639                    [THORNTON, ELMIRA]
9640                       [20TH, LINCOLN]
9641                      [BUCHANAN, POST]
9642                 [SHOTWELL, MONTEZUMA]
9643                       [NORIEGA, 20TH]
9644               [SUSSEX, BEMIS, CASTRO]
Name: streets_at_intersection, dtype: object

In [16]:
street_info.head(2)

        cnn                           coords streets_at_intersection
0  27380000  [-122.481702108, 37.7521400039]          [24TH, ORTEGA]
1  22138000  [-122.442010215, 37.7299109493]          [CONGO, FLOOD]

In [17]:
street_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9645 entries, 0 to 9644
Data columns (total 3 columns):
cnn                        9645 non-null object
coords                     9645 non-null object
streets_at_intersection    9645 non-null object
dtypes: object(3)
memory usage: 226.1+ KB

In [18]:
street_info['cnn'] = street_info['cnn'].astype(int)

In [19]:
street_info['coords'][0]

[-122.48170210760132, 37.7521400039038]

In [20]:
street_info[street_info['streets_at_intersection'].map(lambda x: x == ['I-280 S OFF'])]

           cnn                           coords streets_at_intersection
110   52163000  [-122.393040237, 37.7631425484]           [I-280 S OFF]
5064  52236000  [-122.470552716, 37.7070437304]           [I-280 S OFF]
8752  52133000    [-122.447476767, 37.72451438]           [I-280 S OFF]
9104  52114000  [-122.392121021, 37.7534819532]           [I-280 S OFF]

In [21]:
len(street_info[street_info['streets_at_intersection'].map(lambda x: len(x)==1)])

1426

In [22]:
street_info[street_info['cnn'].map(lambda x: x == '27579000')]

Empty DataFrame
Columns: [cnn, coords, streets_at_intersection]
Index: []

In [23]:
street_info[street_info['cnn'].map(lambda x: x == '27577000')]

Empty DataFrame
Columns: [cnn, coords, streets_at_intersection]
Index: []

In [24]:
strt_seg = pd.read_csv('./street_data/List_of_Streets_and_Intersections.csv')

In [25]:
strt_seg.head(2)

        CNN streetname              from_st         to_st cardinal addrange  \
0  30731000    01ST ST  BUSH ST \ MARKET ST           NaN      NaN      NaN
1    100000    01ST ST  BUSH ST \ MARKET ST  STEVENSON ST      NaN   1 - 34

                                         limits  location  theOrder  LF_FADD  \
0              BUSH ST \ MARKET ST intersection       NaN         1      NaN
1  BUSH ST \ MARKET ST to STEVENSON ST (1 - 34)       NaN         2      1.0

   RT_FADD  LF_TADD  RT_TADD    FROM_CNN      TO_CNN
0      NaN      NaN      NaN         NaN         NaN
1      2.0     19.0     34.0  30731000.0  24666000.0

In [26]:
strt_seg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34665 entries, 0 to 34664
Data columns (total 15 columns):
CNN           34665 non-null int64
streetname    34665 non-null object
from_st       34665 non-null object
to_st         16187 non-null object
cardinal      2121 non-null object
addrange      16187 non-null object
limits        34665 non-null object
location      0 non-null float64
theOrder      34665 non-null int64
LF_FADD       16187 non-null float64
RT_FADD       16187 non-null float64
LF_TADD       16187 non-null float64
RT_TADD       16187 non-null float64
FROM_CNN      16187 non-null float64
TO_CNN        16187 non-null float64
dtypes: float64(7), int64(2), object(6)
memory usage: 4.0+ MB

In [27]:
strt_seg_df = strt_seg.dropna(axis='index', how='any', subset=['TO_CNN', 'FROM_CNN'])

In [28]:
strt_seg_df.reset_index(inplace=True)

In [29]:
strt_seg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16187 entries, 0 to 16186
Data columns (total 16 columns):
index         16187 non-null int64
CNN           16187 non-null int64
streetname    16187 non-null object
from_st       16187 non-null object
to_st         16187 non-null object
cardinal      2121 non-null object
addrange      16187 non-null object
limits        16187 non-null object
location      0 non-null float64
theOrder      16187 non-null int64
LF_FADD       16187 non-null float64
RT_FADD       16187 non-null float64
LF_TADD       16187 non-null float64
RT_TADD       16187 non-null float64
FROM_CNN      16187 non-null float64
TO_CNN        16187 non-null float64
dtypes: float64(7), int64(3), object(6)
memory usage: 2.0+ MB

In [30]:
strt_seg_df = strt_seg_df[['CNN', 'FROM_CNN', 'TO_CNN']]

In [31]:
strt_seg_df.head(2)

        CNN    FROM_CNN      TO_CNN
0    100000  30731000.0  24666000.0
1  11113000  22843000.0  50647000.0

In [32]:
strt_seg_df['FROM_CNN'] = strt_seg_df['FROM_CNN'].astype(int)
strt_seg_df['TO_CNN'] = strt_seg_df['TO_CNN'].astype(int)

In [33]:
strt_seg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16187 entries, 0 to 16186
Data columns (total 3 columns):
CNN         16187 non-null int64
FROM_CNN    16187 non-null int64
TO_CNN      16187 non-null int64
dtypes: int64(3)
memory usage: 379.5 KB

In [34]:
df1 = strt_seg_df.merge(street_info, how='inner', left_on='FROM_CNN', right_on='cnn')

In [35]:
df1.head()

        CNN  FROM_CNN    TO_CNN       cnn                           coords  \
0    100000  30731000  24666000  30731000   [-122.399148598, 37.791016649]
1   8742201  30731000  30732000  30731000   [-122.399148598, 37.791016649]
2   3419000  30731000  24672000  30731000   [-122.399148598, 37.791016649]
3   8742101  30731000  30734000  30731000   [-122.399148598, 37.791016649]
4  11113000  22843000  50647000  22843000  [-122.456962905, 37.7433704314]

  streets_at_intersection
0    [MARKET, BUSH, 01ST]
1    [MARKET, BUSH, 01ST]
2    [MARKET, BUSH, 01ST]
3    [MARKET, BUSH, 01ST]
4    [ROCKAWAY, ROCKWOOD]

In [36]:
df1.rename(columns={'coords': 'from_cnn_coords'}, inplace=True)

In [37]:
df1.drop(labels=['cnn', 'streets_at_intersection'], axis=1, inplace=True)

In [38]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16146 entries, 0 to 16145
Data columns (total 4 columns):
CNN                16146 non-null int64
FROM_CNN           16146 non-null int64
TO_CNN             16146 non-null int64
from_cnn_coords    16146 non-null object
dtypes: int64(3), object(1)
memory usage: 630.7+ KB

In [39]:
df1 = df1.merge(street_info, how='inner', left_on='TO_CNN', right_on='cnn')

In [40]:
df1.rename(columns={'coords': 'to_cnn_coords'}, inplace=True)

In [41]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16130 entries, 0 to 16129
Data columns (total 7 columns):
CNN                        16130 non-null int64
FROM_CNN                   16130 non-null int64
TO_CNN                     16130 non-null int64
from_cnn_coords            16130 non-null object
cnn                        16130 non-null int64
to_cnn_coords              16130 non-null object
streets_at_intersection    16130 non-null object
dtypes: int64(4), object(3)
memory usage: 1008.1+ KB

In [42]:
df1.drop(labels=['streets_at_intersection', 'cnn'], axis=1, inplace=True)

In [43]:
df1.head(2)

       CNN  FROM_CNN    TO_CNN                 from_cnn_coords  \
0   100000  30731000  24666000  [-122.399148598, 37.791016649]
1  8742201  30731000  30732000  [-122.399148598, 37.791016649]

                     to_cnn_coords
0  [-122.398589511, 37.7905712253]
1  [-122.399504511, 37.7908053759]

In [44]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16130 entries, 0 to 16129
Data columns (total 5 columns):
CNN                16130 non-null int64
FROM_CNN           16130 non-null int64
TO_CNN             16130 non-null int64
from_cnn_coords    16130 non-null object
to_cnn_coords      16130 non-null object
dtypes: int64(3), object(2)
memory usage: 756.1+ KB

In [45]:
centerlines = pd.read_json('./street_data/San Francisco Basemap Street Centerlines.geojson',
                           precise_float=True)

features = centerlines['features']
coords = features.map(lambda x: x['geometry']['coordinates'])

centerlines = pd.DataFrame.from_records(features.map(lambda x: x['properties']))
centerlines['centerline'] = coords
centerlines['cnn'] = centerlines['cnntext'].astype(int)
centerlines['classcode'] = centerlines['classcode'].astype(int)

centerlines.head()

  accepted  classcode       cnn   cnntext district f_node_cnn jurisdicti  \
0        N          0  15145000  15145000     None   26132000       None
1        Y          0  11305001  11305001     None   26255000        DPW
2        Y          5  11305002  11305002     None   54224000        DPW
3        Y          5  13798000  13798000     None   35015000        DPW
4        N          5   5389001   5389001     None   35016000        DPW

     layer lf_fadd lf_toadd  \
0  PRIVATE     0.0      0.0
1    UPROW     1.0     37.0
2  STREETS    39.0     99.0
3  STREETS   221.0    299.0
4  STREETS     0.0      0.0

                         ...                         oneway rt_fadd rt_toadd  \
0                        ...                              B     0.0      0.0
1                        ...                              B     2.0     36.0
2                        ...                              B    38.0     98.0
3                        ...                              F   222.0    298.0
4                        ...                              B     0.0      0.0

  st_type         street      street_gc         streetname t_node_cnn  \
0      CT          CROWN          CROWN           CROWN CT   54223000
1     AVE  SAINT GERMAIN  SAINT GERMAIN  SAINT GERMAIN AVE   54224000
2     AVE  SAINT GERMAIN  SAINT GERMAIN  SAINT GERMAIN AVE   26247000
3      ST         CORONA         CORONA          CORONA ST   35015000
4     AVE        FAIRFAX        FAIRFAX        FAIRFAX AVE   35017000

  zip_code                                         centerline
0    94114  [[-122.446942445, 37.7572289215], [-122.446641...
1    94114  [[-122.447915266, 37.757589498], [-122.4488770...
2    94114  [[-122.448877014, 37.7575363275], [-122.450289...
3    94127  [[-122.466597727, 37.7259244753], [-122.466538...
4    94124  [[-122.380850804, 37.7362793847], [-122.381003...

[5 rows x 22 columns]

In [46]:
centerlines = centerlines[['cnn', 'streetname', 'classcode', 'oneway', 'centerline']]

In [47]:
centerlines.head(2)

        cnn         streetname  classcode oneway  \
0  15145000           CROWN CT          0      B
1  11305001  SAINT GERMAIN AVE          0      B

                                          centerline
0  [[-122.446942445, 37.7572289215], [-122.446641...
1  [[-122.447915266, 37.757589498], [-122.4488770...

In [48]:
comb_strt_seg = centerlines.merge(df1, how='right', left_on='cnn', right_on='CNN')

In [49]:
comb_strt_seg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16130 entries, 0 to 16129
Data columns (total 10 columns):
cnn                16130 non-null int64
streetname         16130 non-null object
classcode          16130 non-null int64
oneway             16130 non-null object
centerline         16130 non-null object
CNN                16130 non-null int64
FROM_CNN           16130 non-null int64
TO_CNN             16130 non-null int64
from_cnn_coords    16130 non-null object
to_cnn_coords      16130 non-null object
dtypes: int64(5), object(5)
memory usage: 1.4+ MB

In [50]:
comb_strt_seg.drop(labels='cnn', axis=1, inplace=True)

In [51]:
comb_strt_seg.rename(columns={'CNN': 'cnn',
                              'FROM_CNN': 'from_cnn',
                              'TO_CNN': 'to_cnn'},
                     inplace=True)

In [52]:
comb_strt_seg.head()

          streetname  classcode oneway  \
0           CROWN CT          0      B
1  SAINT GERMAIN AVE          0      B
2  SAINT GERMAIN AVE          5      B
3          CORONA ST          5      F
4        FAIRFAX AVE          5      B

                                          centerline       cnn  from_cnn  \
0  [[-122.446942445, 37.7572289215], [-122.446641...  15145000  26132000
1  [[-122.447915266, 37.757589498], [-122.4488770...  11305001  26255000
2  [[-122.448877014, 37.7575363275], [-122.450289...  11305002  54224000
3  [[-122.466597727, 37.7259244753], [-122.466538...  13798000  35015000
4  [[-122.380850804, 37.7362793847], [-122.381003...   5389001  35016000

     to_cnn                  from_cnn_coords                    to_cnn_coords
0  54223000  [-122.446942444, 37.7572289215]  [-122.445867016, 37.7569364859]
1  54224000   [-122.447915266, 37.757589498]  [-122.448877014, 37.7575363275]
2  26247000  [-122.448877014, 37.7575363275]  [-122.450289302, 37.7574582341]
3  35015000  [-122.466597727, 37.7259244744]  [-122.466597727, 37.7259244744]
4  35017000  [-122.380850804, 37.7362793847]   [-122.381003701, 37.736790553]

In [53]:
comb_strt_seg.apply(lambda x: haversin(x['from_cnn_coords'], x['centerline'][0]), axis=1).sort_values()

6310       0.000000
6263       0.000000
1874       0.000000
14631      0.000000
14633      0.000000
14635      0.000000
14637      0.000000
6285       0.000000
11137      0.000000
6299       0.000000
6306       0.000000
6307       0.000000
6262       0.000000
14641      0.000000
3688       0.000000
1841       0.000000
11114      0.000000
14648      0.000000
6323       0.000000
1832       0.000000
6326       0.000000
6340       0.000000
14658      0.000000
14660      0.000000
14672      0.000000
1844       0.000000
1886       0.000000
6250       0.000000
14618      0.000000
11230      0.000000
            ...
860        0.000141
885        0.000141
4597       0.000141
3925       0.000141
6550       0.000141
13011      0.000141
1175       0.000141
4005       0.000141
8961       0.000141
15301      0.000601
6449       0.000601
16103      0.005154
16100      0.011642
3429       0.012620
3147       0.012620
15552      0.014240
1261       0.016945
974        0.019050
15551      0.019050
16101      0.050178
16104      0.073668
10499      0.762964
3719       9.881587
2488      12.980927
9538      35.353650
724       71.953167
12322     82.781296
676       96.966378
321      120.777255
11436    246.641844
dtype: float64

In [54]:
comb_strt_seg[['streetname', 'centerline', 'from_cnn_coords', 'to_cnn_coords']].ix[3719]

streetname                                                SHIELDS ST
centerline         [[-122.462752036, 37.7179352912], [-122.462639...
from_cnn_coords                       [-122.462639626, 37.717936035]
to_cnn_coords                        [-122.462752036, 37.7179352912]
Name: 3719, dtype: object

In [55]:
haversin_polyline(comb_strt_seg.ix[0, 'centerline'])

100.88716663535098

In [56]:
comb_strt_seg['length'] = comb_strt_seg['centerline'].map(haversin_polyline)

In [57]:
comb_strt_seg[comb_strt_seg['length'] == 0]

Empty DataFrame
Columns: [streetname, classcode, oneway, centerline, cnn, from_cnn, to_cnn, from_cnn_coords, to_cnn_coords, length]
Index: []

In [58]:
comb_strt_seg.head(2)

          streetname  classcode oneway  \
0           CROWN CT          0      B
1  SAINT GERMAIN AVE          0      B

                                          centerline       cnn  from_cnn  \
0  [[-122.446942445, 37.7572289215], [-122.446641...  15145000  26132000
1  [[-122.447915266, 37.757589498], [-122.4488770...  11305001  26255000

     to_cnn                  from_cnn_coords                    to_cnn_coords  \
0  54223000  [-122.446942444, 37.7572289215]  [-122.445867016, 37.7569364859]
1  54224000   [-122.447915266, 37.757589498]  [-122.448877014, 37.7575363275]

       length
0  100.887167
1   84.702128

In [59]:
comb_strt_seg.sort_values(['length', 'streetname'], inplace=True)

In [60]:
comb_strt_seg.reset_index(inplace=True, drop=True)

In [61]:
comb_strt_seg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16130 entries, 0 to 16129
Data columns (total 10 columns):
streetname         16130 non-null object
classcode          16130 non-null int64
oneway             16130 non-null object
centerline         16130 non-null object
cnn                16130 non-null int64
from_cnn           16130 non-null int64
to_cnn             16130 non-null int64
from_cnn_coords    16130 non-null object
to_cnn_coords      16130 non-null object
length             16130 non-null float64
dtypes: float64(1), int64(4), object(5)
memory usage: 1.2+ MB

In [62]:
comb_strt_seg.head(10)

       streetname  classcode oneway  \
0       GRANT AVE          5      B
1         HYDE ST          5      B
2   SACRAMENTO ST          5      B
3  LEAVENWORTH ST          5      B
4         CLAY ST          5      T
5     PACIFIC AVE          5      B
6      JACKSON ST          5      B
7      VALLEJO ST          5      B
8        JONES ST          5      T
9        MASON ST          5      B

                                          centerline       cnn  from_cnn  \
0  [[-122.407895702, 37.8022031597], [-122.407898...   6408000  25376000
1  [[-122.419105547, 37.7994822746], [-122.419109...   7141000  30028000
2  [[-122.411900469, 37.7926482491], [-122.411929...  11238000  25077000
3  [[-122.416931168, 37.7970508219], [-122.416936...   8259000  25285000
4  [[-122.409900714, 37.7938061657], [-122.409935...   4097000  25015000
5  [[-122.412503875, 37.7961920286], [-122.412540...  10136000  25124000
6  [[-122.408704654, 37.7957668411], [-122.408743...   7380000  25040000
7  [[-122.403644962, 37.7992241694], [-122.403690...  13086000  30040000
8  [[-122.412872038, 37.7853084493], [-122.412881...   7568000  24931000
9  [[-122.412408149, 37.7997180011], [-122.412417...   8825000  25418000

     to_cnn                  from_cnn_coords                    to_cnn_coords  \
0  25391000  [-122.407895702, 37.8022031597]  [-122.407898666, 37.8022180205]
1  25543000  [-122.419105547, 37.7994822746]   [-122.419109459, 37.799501833]
2  30047000  [-122.411900469, 37.7926482491]  [-122.411929944, 37.7926445051]
3  30043000  [-122.416931168, 37.7970508219]  [-122.416936047, 37.7970750186]
4  25016000  [-122.409900714, 37.7938061657]  [-122.409935886, 37.7938016901]
5  25125000  [-122.412503876, 37.7961920286]  [-122.412540657, 37.7961874009]
6  25041000  [-122.408704654, 37.7957668411]  [-122.408743234, 37.7957619818]
7  24827000  [-122.403644962, 37.7992241685]   [-122.40369039, 37.7992184505]
8  24927000  [-122.412872038, 37.7853084484]   [-122.412881239, 37.785353823]
9  25419000    [-122.41240815, 37.799718002]  [-122.412417555, 37.7997647693]

     length
0  1.671880
1  2.200408
2  2.621567
3  2.722776
4  3.128414
5  3.270567
6  3.430513
7  4.039196
8  5.106512
9  5.262333

In [63]:
comb_strt_seg.tail(10)

               streetname  classcode oneway  \
16120  HWY 101 NORTHBOUND          1      F
16121    HWY 1 NORTHBOUND          1      F
16122        JOHN MUIR DR          4      B
16123    HWY 1 SOUTHBOUND          1      F
16124  HWY 101 NORTHBOUND          1      F
16125    I-280 SOUTHBOUND          1      F
16126      I-80 WESTBOUND          1      F
16127      I-80 EASTBOUND          1      F
16128           GREAT HWY          3      T
16129           GREAT HWY          3      F

                                              centerline       cnn  from_cnn  \
16120  [[-122.401495961, 37.7247557928], [-122.401839...  19222000  52123000
16121  [[-122.47262579, 37.7863148065], [-122.4725447...  19185000  27628000
16122  [[-122.485723865, 37.708085729], [-122.4862614...   7553000  33539000
16123  [[-122.469680996, 37.8024997839], [-122.469538...  19186000  52101000
16124  [[-122.450356379, 37.8034862443], [-122.450506...  15176000  54235000
16125  [[-122.392028946, 37.7506630819], [-122.392372...  19343000  52144000
16126  [[-122.367433795, 37.8078191912], [-122.388125...  14249000  53063000
16127  [[-122.388139084, 37.7885626445], [-122.367465...  14248000  52306000
16128  [[-122.510341319, 37.7640008332], [-122.510250...   6436101  27942000
16129  [[-122.510341319, 37.7640008332], [-122.510406...   6436201  27942000

         to_cnn                  from_cnn_coords  \
16120  52168000  [-122.401495961, 37.7247557928]
16121  52102000   [-122.47262579, 37.7863148065]
16122  23323000  [-122.485723866, 37.7080857299]
16123  27628000  [-122.469680996, 37.8024997839]
16124  52266000  [-122.450356379, 37.8034862443]
16125  52125000  [-122.392028947, 37.7506630819]
16126  52307000  [-122.367433795, 37.8078191921]
16127  53062000  [-122.388139084, 37.7885626445]
16128  32904000  [-122.510341319, 37.7640008332]
16129  32904000  [-122.510341319, 37.7640008332]

                         to_cnn_coords       length
16120  [-122.407970803, 37.7386174844]  1649.834517
16121   [-122.46939327, 37.8008108732]  1672.978234
16122  [-122.500220954, 37.7189555588]  1830.397209
16123   [-122.47262579, 37.7863148065]  1864.054877
16124  [-122.473088125, 37.8050227493]  2172.687327
16125  [-122.411473163, 37.7337860011]  2652.838756
16126   [-122.388125845, 37.788553802]  2807.945926
16127  [-122.367465625, 37.8078513432]  2808.865662
16128  [-122.506717429, 37.7354697579]  3188.999923
16129  [-122.506717429, 37.7354697579]  3189.057885

In [64]:
grouped = comb_strt_seg.groupby(by=['from_cnn', 'to_cnn'])
grouped = grouped.filter(lambda x: len(x) > 1).groupby(by=['from_cnn', 'to_cnn'], as_index=False)
grouped.ngroups

685

In [65]:
comb_strt_seg.take(np.array(grouped.groups.values()).flat).head(10)

         streetname  classcode oneway  \
14859   FILLMORE ST          4      T
14865   FILLMORE ST          4      F
9930      MARKET ST          4      F
9950      MARKET ST          4      T
5159   HOLLOWAY AVE          5      F
6048   HOLLOWAY AVE          5      T
10973  WOODSIDE AVE          4      F
11415  WOODSIDE AVE          4      T
7987    LINCOLN WAY          3      T
8262    LINCOLN WAY          3      F

                                              centerline       cnn  from_cnn  \
14859  [[-122.43627391, 37.8008141445], [-122.4363812...   5568101  26763000
14865  [[-122.43627391, 37.8008141445], [-122.4362029...   5568201  26763000
9930   [[-122.397383446, 37.7924055215], [-122.397490...   8740201  30729000
9950   [[-122.397383446, 37.7924055215], [-122.397406...   8740101  30729000
5159   [[-122.475221952, 37.721057296], [-122.4754474...   6996201  23032000
6048   [[-122.475221952, 37.721057296], [-122.4754007...   6996101  23032000
10973  [[-122.458728518, 37.7467554297], [-122.458610...  13712201  22863000
11415  [[-122.458728518, 37.7467554297], [-122.458656...  13712101  22863000
7987   [[-122.478324821, 37.7653991358], [-122.478403...   8358101  27377000
8262   [[-122.478324821, 37.7653991358], [-122.478347...   8358201  27377000

         to_cnn                  from_cnn_coords  \
14859  26764000   [-122.43627391, 37.8008141445]
14865  26764000   [-122.43627391, 37.8008141445]
9930   30730000  [-122.397383446, 37.7924055215]
9950   30730000  [-122.397383446, 37.7924055215]
5159   23056000   [-122.475221952, 37.721057296]
6048   23056000   [-122.475221952, 37.721057296]
10973  22862000  [-122.458728518, 37.7467554297]
11415  22862000  [-122.458728518, 37.7467554297]
7987   27378000  [-122.478324821, 37.7653991358]
8262   27378000  [-122.478324821, 37.7653991358]

                         to_cnn_coords      length
14859  [-122.436693347, 37.8026284241]  210.291944
14865  [-122.436693347, 37.8026284241]  210.386048
9930   [-122.398264448, 37.7917160586]  111.676565
9950   [-122.398264448, 37.7917160586]  112.101990
5159    [-122.47606967, 37.7207799471]   81.863960
6048    [-122.47606967, 37.7207799471]   87.244901
10973  [-122.457166741, 37.7466980209]  139.456044
11415  [-122.457166741, 37.7466980209]  145.111226
7987    [-122.47939843, 37.7653509932]   96.166208
8262    [-122.47939843, 37.7653509932]   98.080417

In [66]:
comb_strt_seg.to_pickle('./street_data/street_segments.pickle')

In [67]:
read = pd.read_pickle('./street_data/street_segments.pickle')
(read == comb_strt_seg).all(axis=0).all()

True