In [1]:
import numpy as np
import pandas as pd
import json

In [2]:
with open('./street_data/SF_Street Intersections.geojson') as fp:
     strt_intersect = json.load(fp)

In [3]:
strt_intersect['features'][2]

{u'geometry': {u'coordinates': [-122.5109259470119, 37.77043567583329],
  u'type': u'Point'},
 u'properties': {u'cnn': u'27966000',
  u'cnntext': u'27966000',
  u'st_name': u'JOHN F KENNEDY',
  u'st_type': u'DR'},
 u'type': u'Feature'}

In [4]:
strt_intersect['features'][3]['properties']['st_name']

u'SAN JOSE'

In [5]:
strt_int = {}

In [6]:
for intersection in strt_intersect['features']:
    strt_int[intersection['properties']['cnn']] = intersection['geometry']['coordinates']

In [7]:
len(strt_int)

9645

In [8]:
strt_name = {}

In [9]:
for intersection in strt_intersect['features']:
    streets = strt_name.setdefault(intersection['properties']['cnn'], [])
    streets.append(intersection['properties']['st_name'])

In [10]:
len(strt_name)

9645

In [11]:
street_info = pd.DataFrame(strt_int.items(), columns=['cnn', 'coords'])

In [12]:
street_info.head(2)

        cnn                           coords
0  27380000  [-122.481702108, 37.7521400039]
1  22138000  [-122.442010215, 37.7299109493]

In [13]:
street_info['streets_at_intersection'] = street_info['cnn'].map(strt_name)

In [14]:
street_info.head(5)

        cnn                           coords       streets_at_intersection
0  27380000  [-122.481702108, 37.7521400039]                [24TH, ORTEGA]
1  22138000  [-122.442010215, 37.7299109493]                [CONGO, FLOOD]
2  20758000  [-122.399685488, 37.7399019739]  [SELBY, INDUSTRIAL, OAKDALE]
3  27459000   [-122.47968537, 37.7677621052]     [MIDDLE WEST, TRANSVERSE]
4  51958000  [-122.370730314, 37.7093018209]           [TEVIS, FITZGERALD]

In [15]:
street_info['streets_at_intersection']

0                           [24TH, ORTEGA]
1                           [CONGO, FLOOD]
2             [SELBY, INDUSTRIAL, OAKDALE]
3                [MIDDLE WEST, TRANSVERSE]
4                      [TEVIS, FITZGERALD]
5                          [NORIEGA, 44TH]
6                        [MISSION, PERSIA]
7                             [25TH, YORK]
8                        [COTTER, MISSION]
9                                 [DONNER]
10                             [NOE, 23RD]
11                                 [VERNA]
12                        [SCOTT, LOMBARD]
13                           [GEARY, 06TH]
14                     [SILLIMAN, BOWDOIN]
15                          [OAK, WEBSTER]
16                                [POPLAR]
17                               [ORIZABA]
18                         [05TH, KIRKHAM]
19                       [26TH, TENNESSEE]
20                         [JERROLD, EARL]
21                    [CLEMENTINA, KAPLAN]
22                     [LINDSAY, LA SALLE]
23                        [SUTTER, MARKET]
24                [OAKDALE, HOLLADAY, JOY]
25                              [CASTILLO]
26                       [DONNER, INGALLS]
27                          [ZOO, SKYLINE]
28                     [HOLLOWAY, MIRAMAR]
29                         [SELBY, REVERE]
                       ...
9615       [UNNAMED 075, FISHER, INFANTRY]
9616                         [SFGH ACCESS]
9617                             [MELROSE]
9618                             [FLORIDA]
9619                  [VICTORIA, PALMETTO]
9620                    [BRODERICK, BEACH]
9621              [KITTREDGE, GOLDEN GATE]
9622                     [PACIFIC, PELTON]
9623                   [CLINTON, VALENCIA]
9624                     [07TH, CLEVELAND]
9625                         [EDDY, GOUGH]
9626                        [CHABOT, TURK]
9627                     [SENECA, BANNOCK]
9628                      [25TH, QUINTARA]
9629                    [CLARION, MISSION]
9630                    [PHOENIX, PACIFIC]
9631              [JUNIPERO SERRA, DARIEN]
9632                    [PINE, DIVISADERO]
9633                    [MCKINNON, RANKIN]
9634                          [YORK, 23RD]
9635                      [KEITH, QUESADA]
9636                      [GIRARD, GORGAS]
9637                      [STILL, ROTTECK]
9638    [CANDLESTICK COVE, EXECUTIVE PARK]
9639                    [THORNTON, ELMIRA]
9640                       [20TH, LINCOLN]
9641                      [BUCHANAN, POST]
9642                 [SHOTWELL, MONTEZUMA]
9643                       [NORIEGA, 20TH]
9644               [SUSSEX, BEMIS, CASTRO]
Name: streets_at_intersection, dtype: object

In [16]:
street_info.head(2)

        cnn                           coords streets_at_intersection
0  27380000  [-122.481702108, 37.7521400039]          [24TH, ORTEGA]
1  22138000  [-122.442010215, 37.7299109493]          [CONGO, FLOOD]

In [17]:
street_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9645 entries, 0 to 9644
Data columns (total 3 columns):
cnn                        9645 non-null object
coords                     9645 non-null object
streets_at_intersection    9645 non-null object
dtypes: object(3)
memory usage: 226.1+ KB

In [18]:
street_info['cnn'] = street_info['cnn'].astype(int)

In [19]:
street_info['coords'][0]

[-122.48170210760132, 37.7521400039038]

In [20]:
street_info[street_info['streets_at_intersection'].map(lambda x: x == ['I-280 S OFF'])]

           cnn                           coords streets_at_intersection
110   52163000  [-122.393040237, 37.7631425484]           [I-280 S OFF]
5064  52236000  [-122.470552716, 37.7070437304]           [I-280 S OFF]
8752  52133000    [-122.447476767, 37.72451438]           [I-280 S OFF]
9104  52114000  [-122.392121021, 37.7534819532]           [I-280 S OFF]

In [21]:
len(street_info[street_info['streets_at_intersection'].map(lambda x: len(x)==1)])

1426

In [22]:
street_info[street_info['cnn'].map(lambda x: x == '27579000')]

Empty DataFrame
Columns: [cnn, coords, streets_at_intersection]
Index: []

In [23]:
street_info[street_info['cnn'].map(lambda x: x == '27577000')]

Empty DataFrame
Columns: [cnn, coords, streets_at_intersection]
Index: []

In [24]:
strt_seg = pd.read_csv('./street_data/List_of_Streets_and_Intersections.csv')

In [25]:
strt_seg.head(2)

        CNN streetname              from_st         to_st cardinal addrange  \
0  30731000    01ST ST  BUSH ST \ MARKET ST           NaN      NaN      NaN
1    100000    01ST ST  BUSH ST \ MARKET ST  STEVENSON ST      NaN   1 - 34

                                         limits  location  theOrder  LF_FADD  \
0              BUSH ST \ MARKET ST intersection       NaN         1      NaN
1  BUSH ST \ MARKET ST to STEVENSON ST (1 - 34)       NaN         2      1.0

   RT_FADD  LF_TADD  RT_TADD    FROM_CNN      TO_CNN
0      NaN      NaN      NaN         NaN         NaN
1      2.0     19.0     34.0  30731000.0  24666000.0

In [26]:
strt_seg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34665 entries, 0 to 34664
Data columns (total 15 columns):
CNN           34665 non-null int64
streetname    34665 non-null object
from_st       34665 non-null object
to_st         16187 non-null object
cardinal      2121 non-null object
addrange      16187 non-null object
limits        34665 non-null object
location      0 non-null float64
theOrder      34665 non-null int64
LF_FADD       16187 non-null float64
RT_FADD       16187 non-null float64
LF_TADD       16187 non-null float64
RT_TADD       16187 non-null float64
FROM_CNN      16187 non-null float64
TO_CNN        16187 non-null float64
dtypes: float64(7), int64(2), object(6)
memory usage: 4.0+ MB

In [27]:
strt_seg_df = strt_seg.dropna(axis='index', how='any', subset=['TO_CNN', 'FROM_CNN'])

In [28]:
strt_seg_df.reset_index(inplace=True)

In [29]:
strt_seg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16187 entries, 0 to 16186
Data columns (total 16 columns):
index         16187 non-null int64
CNN           16187 non-null int64
streetname    16187 non-null object
from_st       16187 non-null object
to_st         16187 non-null object
cardinal      2121 non-null object
addrange      16187 non-null object
limits        16187 non-null object
location      0 non-null float64
theOrder      16187 non-null int64
LF_FADD       16187 non-null float64
RT_FADD       16187 non-null float64
LF_TADD       16187 non-null float64
RT_TADD       16187 non-null float64
FROM_CNN      16187 non-null float64
TO_CNN        16187 non-null float64
dtypes: float64(7), int64(3), object(6)
memory usage: 2.0+ MB

In [30]:
strt_seg_df = strt_seg_df[['CNN', 'FROM_CNN', 'TO_CNN']]

In [31]:
strt_seg_df.head(2)

        CNN    FROM_CNN      TO_CNN
0    100000  30731000.0  24666000.0
1  11113000  22843000.0  50647000.0

In [32]:
strt_seg_df['FROM_CNN'] = strt_seg_df['FROM_CNN'].astype(int)
strt_seg_df['TO_CNN'] = strt_seg_df['TO_CNN'].astype(int)

In [33]:
strt_seg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16187 entries, 0 to 16186
Data columns (total 3 columns):
CNN         16187 non-null int64
FROM_CNN    16187 non-null int64
TO_CNN      16187 non-null int64
dtypes: int64(3)
memory usage: 379.5 KB

In [34]:
df1 = strt_seg_df.merge(street_info, how='inner', left_on='FROM_CNN', right_on='cnn')

In [35]:
df1.head()

        CNN  FROM_CNN    TO_CNN       cnn                           coords  \
0    100000  30731000  24666000  30731000   [-122.399148598, 37.791016649]
1   8742201  30731000  30732000  30731000   [-122.399148598, 37.791016649]
2   3419000  30731000  24672000  30731000   [-122.399148598, 37.791016649]
3   8742101  30731000  30734000  30731000   [-122.399148598, 37.791016649]
4  11113000  22843000  50647000  22843000  [-122.456962905, 37.7433704314]

  streets_at_intersection
0    [MARKET, BUSH, 01ST]
1    [MARKET, BUSH, 01ST]
2    [MARKET, BUSH, 01ST]
3    [MARKET, BUSH, 01ST]
4    [ROCKAWAY, ROCKWOOD]

In [36]:
df1.rename(columns={'coords': 'from_cnn_coords'}, inplace=True)

In [37]:
df1.drop(labels=['cnn', 'streets_at_intersection'], axis=1, inplace=True)

In [38]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16146 entries, 0 to 16145
Data columns (total 4 columns):
CNN                16146 non-null int64
FROM_CNN           16146 non-null int64
TO_CNN             16146 non-null int64
from_cnn_coords    16146 non-null object
dtypes: int64(3), object(1)
memory usage: 630.7+ KB

In [39]:
df1 = df1.merge(street_info, how='inner', left_on='TO_CNN', right_on='cnn')

In [40]:
df1.rename(columns={'coords': 'to_cnn_coords'}, inplace=True)

In [41]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16130 entries, 0 to 16129
Data columns (total 7 columns):
CNN                        16130 non-null int64
FROM_CNN                   16130 non-null int64
TO_CNN                     16130 non-null int64
from_cnn_coords            16130 non-null object
cnn                        16130 non-null int64
to_cnn_coords              16130 non-null object
streets_at_intersection    16130 non-null object
dtypes: int64(4), object(3)
memory usage: 1008.1+ KB

In [42]:
df1.drop(labels=['streets_at_intersection', 'cnn'], axis=1, inplace=True)

In [43]:
df1.head(2)

       CNN  FROM_CNN    TO_CNN                 from_cnn_coords  \
0   100000  30731000  24666000  [-122.399148598, 37.791016649]
1  8742201  30731000  30732000  [-122.399148598, 37.791016649]

                     to_cnn_coords
0  [-122.398589511, 37.7905712253]
1  [-122.399504511, 37.7908053759]

In [44]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16130 entries, 0 to 16129
Data columns (total 5 columns):
CNN                16130 non-null int64
FROM_CNN           16130 non-null int64
TO_CNN             16130 non-null int64
from_cnn_coords    16130 non-null object
to_cnn_coords      16130 non-null object
dtypes: int64(3), object(2)
memory usage: 756.1+ KB

In [45]:
center_lines = pd.read_csv('./street_data/San_Francisco_Basemap_Street_Centerlines.csv')

In [46]:
center_lines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16187 entries, 0 to 16186
Data columns (total 22 columns):
accepted      16181 non-null object
classcode     16187 non-null int64
cnn           16187 non-null int64
cnntext       16187 non-null int64
district      0 non-null float64
f_node_cnn    16187 non-null int64
jurisdicti    13173 non-null object
layer         16187 non-null object
lf_fadd       16187 non-null int64
lf_toadd      16187 non-null int64
nhood         16186 non-null object
oneway        16187 non-null object
rt_fadd       16187 non-null int64
rt_toadd      16187 non-null int64
street        16187 non-null object
streetname    16187 non-null object
street_gc     16187 non-null object
st_type       15794 non-null object
t_node_cnn    16187 non-null int64
zip_code      16187 non-null int64
geometry      16187 non-null object
multigeom     16187 non-null bool
dtypes: bool(1), float64(1), int64(10), object(10)
memory usage: 2.6+ MB

In [47]:
center_lines = center_lines[['classcode', 'oneway', 'streetname', 'cnn']]

In [48]:
center_lines.head(2)

   classcode oneway         streetname       cnn
0          0      B           CROWN CT  15145000
1          0      B  SAINT GERMAIN AVE  11305001

In [49]:
comb_strt_seg = center_lines.merge(df1, how='right', left_on='cnn', right_on='CNN')

In [50]:
comb_strt_seg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16130 entries, 0 to 16129
Data columns (total 9 columns):
classcode          16130 non-null int64
oneway             16130 non-null object
streetname         16130 non-null object
cnn                16130 non-null int64
CNN                16130 non-null int64
FROM_CNN           16130 non-null int64
TO_CNN             16130 non-null int64
from_cnn_coords    16130 non-null object
to_cnn_coords      16130 non-null object
dtypes: int64(5), object(4)
memory usage: 1.2+ MB

In [51]:
comb_strt_seg.drop(labels='cnn', axis=1, inplace=True)

In [52]:
comb_strt_seg.rename(columns={'CNN': 'cnn',
                              'FROM_CNN': 'from_cnn',
                              'TO_CNN': 'to_cnn'},
                     inplace=True)

In [53]:
comb_strt_seg.head()

   classcode oneway         streetname       cnn  from_cnn    to_cnn  \
0          0      B           CROWN CT  15145000  26132000  54223000
1          0      B  SAINT GERMAIN AVE  11305001  26255000  54224000
2          5      B  SAINT GERMAIN AVE  11305002  54224000  26247000
3          5      F          CORONA ST  13798000  35015000  35015000
4          5      B        FAIRFAX AVE   5389001  35016000  35017000

                   from_cnn_coords                    to_cnn_coords
0  [-122.446942444, 37.7572289215]  [-122.445867016, 37.7569364859]
1   [-122.447915266, 37.757589498]  [-122.448877014, 37.7575363275]
2  [-122.448877014, 37.7575363275]  [-122.450289302, 37.7574582341]
3  [-122.466597727, 37.7259244744]  [-122.466597727, 37.7259244744]
4  [-122.380850804, 37.7362793847]   [-122.381003701, 37.736790553]

In [54]:
from distance import haversin

def dist(coords):
    return haversin(*coords)

In [55]:
comb_strt_seg['length'] = \
    comb_strt_seg[['from_cnn_coords', 'to_cnn_coords']].apply(dist, axis=1)

In [56]:
comb_strt_seg = comb_strt_seg[comb_strt_seg.length != 0]

In [57]:
comb_strt_seg.head(2)

   classcode oneway         streetname       cnn  from_cnn    to_cnn  \
0          0      B           CROWN CT  15145000  26132000  54223000
1          0      B  SAINT GERMAIN AVE  11305001  26255000  54224000

                   from_cnn_coords                    to_cnn_coords     length
0  [-122.446942444, 37.7572289215]  [-122.445867016, 37.7569364859]  99.916264
1   [-122.447915266, 37.757589498]  [-122.448877014, 37.7575363275]  84.702128

In [58]:
comb_strt_seg.sort_values(['length', 'streetname'], inplace=True)

In [59]:
comb_strt_seg.reset_index(inplace=True, drop=True)

In [60]:
comb_strt_seg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16116 entries, 0 to 16115
Data columns (total 9 columns):
classcode          16116 non-null int64
oneway             16116 non-null object
streetname         16116 non-null object
cnn                16116 non-null int64
from_cnn           16116 non-null int64
to_cnn             16116 non-null int64
from_cnn_coords    16116 non-null object
to_cnn_coords      16116 non-null object
length             16116 non-null float64
dtypes: float64(1), int64(4), object(4)
memory usage: 1.1+ MB

In [61]:
comb_strt_seg.head(10)

   classcode oneway      streetname       cnn  from_cnn    to_cnn  \
0          5      B       GRANT AVE   6408000  25376000  25391000
1          5      B         HYDE ST   7141000  30028000  25543000
2          5      B   SACRAMENTO ST  11238000  25077000  30047000
3          5      B  LEAVENWORTH ST   8259000  25285000  30043000
4          5      T         CLAY ST   4097000  25015000  25016000
5          5      B     PACIFIC AVE  10136000  25124000  25125000
6          5      B      JACKSON ST   7380000  25040000  25041000
7          5      B      VALLEJO ST  13086000  30040000  24827000
8          5      T        JONES ST   7568000  24931000  24927000
9          5      B        MASON ST   8825000  25418000  25419000

                   from_cnn_coords                    to_cnn_coords    length
0  [-122.407895702, 37.8022031597]  [-122.407898666, 37.8022180205]  1.671781
1  [-122.419105547, 37.7994822746]   [-122.419109459, 37.799501833]  2.200408
2  [-122.411900469, 37.7926482491]  [-122.411929944, 37.7926445051]  2.621567
3  [-122.416931168, 37.7970508219]  [-122.416936047, 37.7970750186]  2.722776
4  [-122.409900714, 37.7938061657]  [-122.409935886, 37.7938016901]  3.128414
5  [-122.412503876, 37.7961920286]  [-122.412540657, 37.7961874009]  3.270468
6  [-122.408704654, 37.7957668411]  [-122.408743234, 37.7957619818]  3.430513
7  [-122.403644962, 37.7992241685]   [-122.40369039, 37.7992184505]  4.039182
8  [-122.412872038, 37.7853084484]   [-122.412881239, 37.785353823]  5.106611
9    [-122.41240815, 37.799718002]  [-122.412417555, 37.7997647693]  5.262220

In [62]:
comb_strt_seg.tail(10)

       classcode oneway          streetname       cnn  from_cnn    to_cnn  \
16106          1      F    HWY 1 NORTHBOUND  19185000  27628000  52102000
16107          1      F  HWY 101 NORTHBOUND  19222000  52123000  52168000
16108          4      B        JOHN MUIR DR   7553000  33539000  23323000
16109          1      F    HWY 1 SOUTHBOUND  19186000  52101000  27628000
16110          1      F  HWY 101 NORTHBOUND  15176000  54235000  52266000
16111          1      F    I-280 SOUTHBOUND  19343000  52144000  52125000
16112          1      F      I-80 WESTBOUND  14249000  53063000  52307000
16113          1      F      I-80 EASTBOUND  14248000  52306000  53062000
16114          3      T           GREAT HWY   6436101  27942000  32904000
16115          3      F           GREAT HWY   6436201  27942000  32904000

                       from_cnn_coords                    to_cnn_coords  \
16106   [-122.47262579, 37.7863148065]   [-122.46939327, 37.8008108732]
16107  [-122.401495961, 37.7247557928]  [-122.407970803, 37.7386174844]
16108  [-122.485723866, 37.7080857299]  [-122.500220954, 37.7189555588]
16109  [-122.469680996, 37.8024997839]   [-122.47262579, 37.7863148065]
16110  [-122.450356379, 37.8034862443]  [-122.473088125, 37.8050227493]
16111  [-122.392028947, 37.7506630819]  [-122.411473163, 37.7337860011]
16112  [-122.367433795, 37.8078191921]   [-122.388125845, 37.788553802]
16113  [-122.388139084, 37.7885626445]  [-122.367465625, 37.8078513432]
16114  [-122.510341319, 37.7640008332]  [-122.506717429, 37.7354697579]
16115  [-122.510341319, 37.7640008332]  [-122.506717429, 37.7354697579]

            length
16106  1635.695929
16107  1642.133143
16108  1755.903810
16109  1817.051972
16110  2003.160369
16111  2537.100513
16112  2807.946002
16113  2808.865728
16114  3186.468163
16115  3186.468163

In [63]:
grouped = comb_strt_seg.groupby(by=['from_cnn', 'to_cnn'])
grouped = grouped.filter(lambda x: len(x) > 1).groupby(by=['from_cnn', 'to_cnn'], as_index=False)
grouped.ngroups

685

In [64]:
comb_strt_seg.take(np.array(grouped.groups.values()).flat).head(10)

       classcode oneway    streetname       cnn  from_cnn    to_cnn  \
14155          4      T   FILLMORE ST   5568101  26763000  26764000
14156          4      F   FILLMORE ST   5568201  26763000  26764000
9937           4      T     MARKET ST   8740101  30729000  30730000
9938           4      F     MARKET ST   8740201  30729000  30730000
5167           5      T  HOLLOWAY AVE   6996101  23032000  23056000
5168           5      F  HOLLOWAY AVE   6996201  23032000  23056000
10988          4      T  WOODSIDE AVE  13712101  22863000  22862000
10989          4      F  WOODSIDE AVE  13712201  22863000  22862000
7903           3      T   LINCOLN WAY   8358101  27377000  27378000
7904           3      F   LINCOLN WAY   8358201  27377000  27378000

                       from_cnn_coords                    to_cnn_coords  \
14155   [-122.43627391, 37.8008141445]  [-122.436693347, 37.8026284241]
14156   [-122.43627391, 37.8008141445]  [-122.436693347, 37.8026284241]
9937   [-122.397383446, 37.7924055215]  [-122.398264448, 37.7917160586]
9938   [-122.397383446, 37.7924055215]  [-122.398264448, 37.7917160586]
5167    [-122.475221952, 37.721057296]   [-122.47606967, 37.7207799471]
5168    [-122.475221952, 37.721057296]   [-122.47606967, 37.7207799471]
10988  [-122.458728518, 37.7467554297]  [-122.457166741, 37.7466980209]
10989  [-122.458728518, 37.7467554297]  [-122.457166741, 37.7466980209]
7903   [-122.478324821, 37.7653991358]   [-122.47939843, 37.7653509932]
7904   [-122.478324821, 37.7653991358]   [-122.47939843, 37.7653509932]

           length
14155  204.948116
14156  204.948116
9937   108.883219
9938   108.883219
5167    80.636745
5168    80.636745
10988  137.380554
10989  137.380554
7903    94.465176
7904    94.465176

In [65]:
comb_strt_seg.to_csv('./street_data/processed_strt_data.csv')