In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import json

In [2]:
with open('./street_data/SF_Street Intersections.geojson') as fp:

     strt_intersect = json.load(fp)

In [3]:
strt_intersect['features'][2]

{u'geometry': {u'coordinates': [-122.5109259470119, 37.77043567583329],
  u'type': u'Point'},
 u'properties': {u'cnn': u'27966000',
  u'cnntext': u'27966000',
  u'st_name': u'JOHN F KENNEDY',
  u'st_type': u'DR'},
 u'type': u'Feature'}

In [4]:
strt_intersect['features'][3]['properties']['st_name']

u'SAN JOSE'

In [5]:
strt_int = {}

In [6]:
for i in range(len(strt_intersect['features'])):
    strt_int[strt_intersect['features'][i]['properties']['cnn']] = strt_intersect['features'][i]['geometry']['coordinates']

In [7]:
len(strt_int)

9645

In [8]:
strt_name = {}

In [9]:
for i in range(len(strt_intersect['features'])):
    
    if strt_intersect['features'][i]['properties']['cnn'] in strt_name:
        strt_name[strt_intersect['features'][i]['properties']['cnn']].append(strt_intersect['features'][i]['properties']['st_name'])
    
    else:
        strt_name[strt_intersect['features'][i]['properties']['cnn']] = [strt_intersect['features'][i]['properties']['st_name']]

In [10]:
len(strt_name)

9645

In [11]:
street_info = pd.DataFrame(strt_int.items(), columns=['cnn', 'coords'])

In [12]:
street_info.head(2)

        cnn                           coords
0  27380000  [-122.481702108, 37.7521400039]
1  22138000  [-122.442010215, 37.7299109493]

In [13]:
street_info['streets_at_intersection'] = street_info['cnn'].map(strt_name)

In [14]:
street_info.head(5)

        cnn                           coords       streets_at_intersection
0  27380000  [-122.481702108, 37.7521400039]                [24TH, ORTEGA]
1  22138000  [-122.442010215, 37.7299109493]                [CONGO, FLOOD]
2  20758000  [-122.399685488, 37.7399019739]  [SELBY, INDUSTRIAL, OAKDALE]
3  27459000   [-122.47968537, 37.7677621052]     [MIDDLE WEST, TRANSVERSE]
4  51958000  [-122.370730314, 37.7093018209]           [TEVIS, FITZGERALD]

In [15]:
street_info.ix[0, 'streets_at_intersection']

[u'24TH', u'ORTEGA']

In [16]:
street_info.head(2)

        cnn                           coords streets_at_intersection
0  27380000  [-122.481702108, 37.7521400039]          [24TH, ORTEGA]
1  22138000  [-122.442010215, 37.7299109493]          [CONGO, FLOOD]

In [17]:
street_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9645 entries, 0 to 9644
Data columns (total 3 columns):
cnn                        9645 non-null object
coords                     9645 non-null object
streets_at_intersection    9645 non-null object
dtypes: object(3)
memory usage: 226.1+ KB

In [18]:
street_info['cnn'] = street_info['cnn'].astype(int)

In [19]:
street_info['coords'][0]

[-122.48170210760132, 37.7521400039038]

In [20]:
street_info[street_info['streets_at_intersection'].map(lambda x: x == ['I-280 S OFF'])]

           cnn                           coords streets_at_intersection
110   52163000  [-122.393040237, 37.7631425484]           [I-280 S OFF]
5064  52236000  [-122.470552716, 37.7070437304]           [I-280 S OFF]
8752  52133000    [-122.447476767, 37.72451438]           [I-280 S OFF]
9104  52114000  [-122.392121021, 37.7534819532]           [I-280 S OFF]

In [21]:
len(street_info[street_info['streets_at_intersection'].map(lambda x: len(x)==1)])

1426

In [22]:
street_info[street_info['cnn'].map(lambda x: x == '27579000')]

Empty DataFrame
Columns: [cnn, coords, streets_at_intersection]
Index: []

In [23]:
street_info[street_info['cnn'].map(lambda x: x == '27577000')]

Empty DataFrame
Columns: [cnn, coords, streets_at_intersection]
Index: []

In [24]:
strt_seg = pd.read_csv('./street_data/List_of_Streets_and_Intersections.csv')

In [25]:
strt_seg.head(2)

,CNN,streetname,from_st,to_st,cardinal,addrange,limits,location,theOrder,LF_FADD,RT_FADD,LF_TADD,RT_TADD,FROM_CNN,TO_CNN
0,30731000,01ST ST,BUSH ST \ MARKET ST,NaN,NaN,NaN,BUSH ST \ MARKET ST intersection,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
1,100000,01ST ST,BUSH ST \ MARKET ST,STEVENSON ST,NaN,1 - 34,BUSH ST \ MARKET ST to STEVENSON ST (1 - 34),NaN,2,1.0,2.0,19.0,34.0,30731000.0,24666000.0

In [26]:
strt_seg_df = strt_seg[strt_seg['limits'].map(lambda x: 'intersection' not in x.split(' '))]

In [27]:
strt_seg_df.reset_index(inplace=True)

In [28]:
strt_seg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16187 entries, 0 to 16186
Data columns (total 16 columns):
index         16187 non-null int64
CNN           16187 non-null int64
streetname    16187 non-null object
from_st       16187 non-null object
to_st         16187 non-null object
cardinal      2121 non-null object
addrange      16187 non-null object
limits        16187 non-null object
location      0 non-null float64
theOrder      16187 non-null int64
LF_FADD       16187 non-null float64
RT_FADD       16187 non-null float64
LF_TADD       16187 non-null float64
RT_TADD       16187 non-null float64
FROM_CNN      16187 non-null float64
TO_CNN        16187 non-null float64
dtypes: float64(7), int64(3), object(6)
memory usage: 2.0+ MB

In [29]:
strt_seg_df = strt_seg_df[[x for x in strt_seg_df.columns if x in ['CNN','limits','FROM_CNN','TO_CNN']]]

In [30]:
strt_seg_df.head(2)

,CNN,limits,FROM_CNN,TO_CNN
0,100000,BUSH ST \ MARKET ST to STEVENSON ST (1 - 34),30731000.0,24666000.0
1,11113000,ROCKAWAY AVE to END (1 - 99),22843000.0,50647000.0

In [31]:
strt_seg_df['FROM_CNN'] = strt_seg_df['FROM_CNN'].astype(int)
strt_seg_df['TO_CNN'] = strt_seg_df['TO_CNN'].astype(int)

In [32]:
strt_seg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16187 entries, 0 to 16186
Data columns (total 4 columns):
CNN         16187 non-null int64
limits      16187 non-null object
FROM_CNN    16187 non-null int64
TO_CNN      16187 non-null int64
dtypes: int64(3), object(1)
memory usage: 505.9+ KB

In [33]:
timeit street_info.iloc[1, 0]

1000 loops, best of 3: 225 µs per loop

In [34]:
from_cnn_latlon = {}
to_cnn_latlon = {}

In [35]:
df1 = strt_seg_df.merge(street_info, how = 'inner', left_on='FROM_CNN', right_on='cnn')

In [36]:
df1.head()

,CNN,limits,FROM_CNN,TO_CNN,cnn,coords,streets_at_intersection
0,100000,BUSH ST \ MARKET ST to STEVENSON ST (1 - 34),30731000,24666000,30731000,"[-122.399148598, 37.791016649]","[MARKET, BUSH, 01ST]"
1,8742201,01ST ST \ BUSH ST to BATTERY ST (500 - 538) --...,30731000,30732000,30731000,"[-122.399148598, 37.791016649]","[MARKET, BUSH, 01ST]"
2,3419000,01ST ST \ MARKET ST to BATTERY ST (1 - 99),30731000,24672000,30731000,"[-122.399148598, 37.791016649]","[MARKET, BUSH, 01ST]"
3,8742101,01ST ST \ BUSH ST to 02ND ST (501 - 599) -- SO...,30731000,30734000,30731000,"[-122.399148598, 37.791016649]","[MARKET, BUSH, 01ST]"
4,11113000,ROCKAWAY AVE to END (1 - 99),22843000,50647000,22843000,"[-122.456962905, 37.7433704314]","[ROCKAWAY, ROCKWOOD]"

In [37]:
df1.rename(columns={'coords':'from_cnn_coords'}, inplace=True)

In [38]:
df1.drop(labels='cnn',axis=1, inplace=True)

In [39]:
df1 = df1.merge(street_info, how='inner',left_on='TO_CNN',right_on='cnn')

In [40]:
df1.rename(columns={'coords':'to_cnn_coords'}, inplace=True)

In [41]:
df1.drop(labels=['limits','streets_at_intersection_x','streets_at_intersection_y','cnn'], axis=1, inplace=True)

In [42]:
df1.head(2)

,CNN,FROM_CNN,TO_CNN,from_cnn_coords,to_cnn_coords
0,100000,30731000,24666000,"[-122.399148598, 37.791016649]","[-122.398589511, 37.7905712253]"
1,8742201,30731000,30732000,"[-122.399148598, 37.791016649]","[-122.399504511, 37.7908053759]"

In [43]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16130 entries, 0 to 16129
Data columns (total 5 columns):
CNN                16130 non-null int64
FROM_CNN           16130 non-null int64
TO_CNN             16130 non-null int64
from_cnn_coords    16130 non-null object
to_cnn_coords      16130 non-null object
dtypes: int64(3), object(2)
memory usage: 756.1+ KB

In [44]:
center_lines = pd.read_csv('./street_data/San_Francisco_Basemap_Street_Centerlines.csv')

In [45]:
center_lines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16187 entries, 0 to 16186
Data columns (total 22 columns):
accepted      16181 non-null object
classcode     16187 non-null int64
cnn           16187 non-null int64
cnntext       16187 non-null int64
district      0 non-null float64
f_node_cnn    16187 non-null int64
jurisdicti    13173 non-null object
layer         16187 non-null object
lf_fadd       16187 non-null int64
lf_toadd      16187 non-null int64
nhood         16186 non-null object
oneway        16187 non-null object
rt_fadd       16187 non-null int64
rt_toadd      16187 non-null int64
street        16187 non-null object
streetname    16187 non-null object
street_gc     16187 non-null object
st_type       15794 non-null object
t_node_cnn    16187 non-null int64
zip_code      16187 non-null int64
geometry      16187 non-null object
multigeom     16187 non-null bool
dtypes: bool(1), float64(1), int64(10), object(10)
memory usage: 2.6+ MB

In [46]:
center_lines = center_lines[[x for x in center_lines.columns if x in ['cnn','classcode','streetname','oneway']]]

In [47]:
center_lines.head(2)

   classcode       cnn oneway         streetname
0          0  15145000      B           CROWN CT
1          0  11305001      B  SAINT GERMAIN AVE

In [48]:
comb_strt_seg = center_lines.merge(df1, how='right',left_on='cnn',right_on='CNN')

In [49]:
comb_strt_seg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16130 entries, 0 to 16129
Data columns (total 9 columns):
classcode          16130 non-null int64
cnn                16130 non-null int64
oneway             16130 non-null object
streetname         16130 non-null object
CNN                16130 non-null int64
FROM_CNN           16130 non-null int64
TO_CNN             16130 non-null int64
from_cnn_coords    16130 non-null object
to_cnn_coords      16130 non-null object
dtypes: int64(5), object(4)
memory usage: 1.2+ MB

In [50]:
comb_strt_seg.drop(labels='cnn',axis=1, inplace=True)

In [51]:
comb_strt_seg.rename(columns={'CNN':'cnn','FROM_CNN':'from_cnn','TO_CNN':'to_cnn'},inplace=True)

In [52]:
comb_strt_seg.head()

,classcode,oneway,streetname,cnn,from_cnn,to_cnn,from_cnn_coords,to_cnn_coords
0,0,B,CROWN CT,15145000,26132000,54223000,"[-122.446942444, 37.7572289215]","[-122.445867016, 37.7569364859]"
1,0,B,SAINT GERMAIN AVE,11305001,26255000,54224000,"[-122.447915266, 37.757589498]","[-122.448877014, 37.7575363275]"
2,5,B,SAINT GERMAIN AVE,11305002,54224000,26247000,"[-122.448877014, 37.7575363275]","[-122.450289302, 37.7574582341]"
3,5,F,CORONA ST,13798000,35015000,35015000,"[-122.466597727, 37.7259244744]","[-122.466597727, 37.7259244744]"
4,5,B,FAIRFAX AVE,5389001,35016000,35017000,"[-122.380850804, 37.7362793847]","[-122.381003701, 37.736790553]"

In [53]:
import distance

In [54]:
distance.haversin(comb_strt_seg.ix[0,'from_cnn_coords'], comb_strt_seg.ix[0,'to_cnn_coords'])

99.91626420972686

In [55]:
import distance

def dist_calc(row):
    return distance.haversin(row['from_cnn_coords'], row['to_cnn_coords'])

In [56]:
comb_strt_seg['length']= comb_strt_seg.apply(dist_calc, axis=1)

In [63]:
comb_strt_seg = comb_strt_seg[comb_strt_seg.length != 0]

In [64]:
comb_strt_seg.reset_index(inplace=True)

In [69]:
comb_strt_seg.head(2)

,index,classcode,oneway,streetname,cnn,from_cnn,to_cnn,from_cnn_coords,to_cnn_coords,length
0,0,0,B,CROWN CT,15145000,26132000,54223000,"[-122.446942444, 37.7572289215]","[-122.445867016, 37.7569364859]",99.916264
1,1,0,B,SAINT GERMAIN AVE,11305001,26255000,54224000,"[-122.447915266, 37.757589498]","[-122.448877014, 37.7575363275]",84.702128

In [71]:
comb_strt_seg.sort(columns='length',inplace=True)

/Users/jyots/anaconda/envs/dsi/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':
/Users/jyots/anaconda/envs/dsi/lib/python2.7/site-packages/pandas/core/frame.py:3225: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  na_position=na_position)

In [75]:
comb_strt_seg.reset_index(inplace=True)

In [79]:
comb_strt_seg.drop(labels=['level_0','index'],axis=1,inplace=True)

In [80]:
comb_strt_seg.head(2)

,classcode,oneway,streetname,cnn,from_cnn,to_cnn,from_cnn_coords,to_cnn_coords,length
0,5,B,GRANT AVE,6408000,25376000,25391000,"[-122.407895702, 37.8022031597]","[-122.407898666, 37.8022180205]",1.671781
1,5,B,HYDE ST,7141000,30028000,25543000,"[-122.419105547, 37.7994822746]","[-122.419109459, 37.799501833]",2.200408

In [83]:
comb_strt_seg.to_csv('./street_data/processed_strt_data.csv')